
.Rhistory
.Rproj.user
*.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Minor_Group.csv
Classifications/RESEARCH_ANZSRC/Output/FOR_Divisions.csv
Classifications/RESEARCH_ANZSRC/Output/SEO_Objectives.csv
Classifications/RESEARCH_ANZSRC/Output/SEO_Groups.csv
Classifications/RESEARCH_ANZSRC/Output/SEO_Divisions.csv
Classifications/RESEARCH_ANZSRC/Output/FOR_Groups.csv
Classifications/RESEARCH_ANZSRC/Output/FOR_Fields.csv
Classifications/RESEARCH_ANZSRC/Output/FOR_Divisions.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Unit_Group.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Sub_Major_Group.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Occupation_Code.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Minor_Group.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Major_Group.csv
Classifications/LOCATION_SACC/Output/SACC_Minor_group.csv
Classifications/LOCATION_SACC/Output/SACC_Major_group.csv
Classifications/LOCATION_SACC/Output/SACC_Countries.csv
Classifications/LOCATION_ASGS/Output/ASGS_State.csv
Classifications/LOCATION_ASGS/Output/ASGS_SOSR.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA4.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA3.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA2_SUA.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA2.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA1_UCL.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA1.csv
Classifications/LOCATION_ASGS/Output/ASGS_Meshblock.csv
Classifications/LOCATION_ASGS/Output/ASGS_LGA.csv
Classifications/LOCATION_ASGS/Output/ASGS_GCCSA.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Supplementary_Data.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Religious_Group.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Narrow_Group.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Broad_Group.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Narrow_Group_3.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Narrow_Group_2.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Language.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Broad_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Supplementary_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Narrow_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Cultural_Ethnic_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Broad_Group.csv
Census/Metadata/Input/Readme/Summary_of_changes.txt
Census/Metadata/Input/Readme/mapinfo_Shp_readme.txt
Census/Metadata/Input/Readme/esri_arcmap_readme.txt
Census/Metadata/Input/Readme/CreativeCommons_Licensing_readme.txt
Census/Metadata/Input/Readme/2021POA_readme.txt
Census/Metadata/Input/Readme/2021Formats_readme.txt
Census/Metadata/Input/Readme/2021AboutDataPacks_readme.txt
Census/Metadata/Input/Metadata/Metadata_2021_GCP_DataPack_R1_R2.xlsx
Census/Metadata/Input/Metadata/2021Census_geog_desc_1st_2nd_3rd_release.xlsx
Census/Metadata/Input/Metadata/2021_GCP_Sequential_Template_R2.xlsx
Classifications/RESEARCH_ANZSRC/Output/SEO_Objectives.csv
Classifications/RESEARCH_ANZSRC/Output/SEO_Groups.csv
Classifications/RESEARCH_ANZSRC/Output/SEO_Divisions.csv
Classifications/RESEARCH_ANZSRC/Output/FOR_Groups.csv
Classifications/RESEARCH_ANZSRC/Output/FOR_Fields.csv
Classifications/RESEARCH_ANZSRC/Output/FOR_Divisions.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Unit_Group.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Sub_Major_Group.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Occupation_Code.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Minor_Group.csv
Classifications/OCCUPATION_ANZSCO/Output/ANZSCO_Major_Group.csv
Classifications/LOCATION_SACC/Output/SACC_Minor_group.csv
Classifications/LOCATION_SACC/Output/SACC_Major_group.csv
Classifications/LOCATION_SACC/Output/SACC_Countries.csv
Classifications/LOCATION_ASGS/Output/ASGS_State.csv
Classifications/LOCATION_ASGS/Output/ASGS_SOSR.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA4.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA3.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA2_SUA.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA2.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA1_UCL.csv
Classifications/LOCATION_ASGS/Output/ASGS_SA1.csv
Classifications/LOCATION_ASGS/Output/ASGS_Meshblock.csv
Classifications/LOCATION_ASGS/Output/ASGS_LGA.csv
Classifications/LOCATION_ASGS/Output/ASGS_GCCSA.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Supplementary_Data.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Religious_Group.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Narrow_Group.csv
Classifications/DEMOGRAPHIC_ASCRG/Output/ASCRG_Broad_Group.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Narrow_Group_3.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Narrow_Group_2.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Language.csv
Classifications/DEMOGRAPHIC_ASCL/Output/Broad_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Supplementary_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Narrow_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Cultural_Ethnic_Group.csv
Classifications/DEMOGRAPHIC_ASCCEG/Output/ASCCEG_Broad_Group.csv
